/* .navbar-brand, .navbar-brand:hover {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.1em;
    margin-right: 3rem;
    margin-left: 2.8rem;
} */

