.netflix-logo {
    height: 1.7rem;
    width: 7rem;
    margin-left: 2.7rem;
    margin-right: 2rem;
    margin-top: 0.6rem;
    margin-bottom: 0.5rem;
}

.search-icon {
    color: rgb(199, 194, 194);
    cursor: pointer;
    margin: 0.5rem 0.3rem 0.5rem 0;
    font-weight: 600;
}

.search-section {
    margin-right: 2rem;
}

.with-input-search {
    border-color: rgb(253, 248, 241);
    border-style:solid; 
    border-width: 0.07rem;
    margin-right: 2rem;
    animation-name: showSearchInput;
    animation-duration: 0.2s;
}

.search-input {
    background-color: inherit;
    border: none;
    color:rgb(199, 194, 194);
    outline: none;
    width: 16rem;
}

.search-section-animation {
    margin-right: 2rem;
    animation-name: showSearch;
    animation-duration: 0.2s;
}

@keyframes showSearchInput {
    0% {
        width: 2rem;
    }
    10% {
        width: 3rem;
    }
    20% {
        width: 4rem
    }
    30% {
        width:5rem;
    }
    40% {
        width: 6rem;
    }
    50%{
        width: 7rem;
    }
    60% {
        width: 8rem;
    }
    70% {
        width: 9rem;
    }
    80% {
        width:10rem;
    }
    90% {
        width:11rem;
    }
    94% {
        width: 12rem;
    }
    97% {
        width: 13rem;
    }
    100% {
        width: 16rem;
    }
}

@keyframes showSearch {
    0% {
        width: 16rem;
        border-color: rgb(253, 248, 241);
        border-style:solid; 
        border-width: 0.07rem;
    }
    10% {
        width: 13rem;
        border-color: rgb(253, 248, 241);
        border-style:solid; 
        border-width: 0.07rem;
    }
    20% {
        width: 12rem;
        border-color: rgb(253, 248, 241);
        border-style:solid; 
        border-width: 0.07rem;
    }
    30% {
        width:11rem;
    }
    40% {
        width: 10rem;
    }
    50%{
        width: 9rem;
    }
    60% {
        width: 8rem;
    }
    70% {
        width: 7rem;
    }
    80% {
        width:6rem;
    }
    90% {
        width:5rem;
    }
    94% {
        width: 4rem;
    }
    97% {
        width: 3rem;
    }
    100% {
        width: 2rem;
    }
}